@model MVCEventBriteApp.Models.Event


<h2>Last Minute Deals</h2>

<div class="panel">
    <div class="panel-body">
        <h3 class="panel-title">Event: @Html.ActionLink(Model.EventTitle, "Details", new { id = @Model.EventId }) </h3>
        Date: @Model.EventStartDate<br />
        Time: @Model.EventStartTime<br />
        Location: @Model.EventLocation
    </div>
</div>




@section Scripts
    {
    <script src="~/Scripts/App/EventBriteScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
