@model IEnumerable<MVCEventBriteApplication.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizerContactInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableTickets)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizerContactInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableTickets)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
