@model EnrollmentApplication.Models.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Coursetitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Coursetitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Studentlastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Studentlastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedCampus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedCampus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentSemester)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.EnrollmentSemester)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentYear)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.EnrollmentYear)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
