
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<p>Albums</p>

<div>
    @Html.TextBox("TextBox1", "Hello")
</div>
<div>
    @Html.RadioButton("Radio", "Red")
    @Html.RadioButton("Radio", "Blue")
    @Html.RadioButton("Radio", "Green")
</div>
<div>
    @Html.Label("Label")
</div>
<div>
    @Html.CheckBox("Checkbox", true)
</div>
<div>
    @Html.DropDownList("AlbumsByName")
    @Html.DropDownList("AlbumsByArtist")
    @Html.DropDownList("AlbumsByGenre")
</div>
