@model MVCEventBriteApp.Models.ViewModels.CreateOrderViewModel

@{
    ViewBag.Title = "Index";
}

@section Scripts
    {
    <script src="~/Scripts/App/EventBriteScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


<h2>Order Summary</h2>
    <br />
    <div id="update-message"> </div>
        
<table>
    <tr>
        <th>Order Number</th>
        <th>Event Title</th>
        <th>Number Of Tickets</th>
        <th></th>
    </tr>

    @foreach (var item in Model.RegisteredItems)
    {
        <tr id="record-@item.OrderId">
            <td>@item.OrderNumber</td>
            <td>@Html.ActionLink(item.EventSelected.EventTitle, "Details", "EventMgmt", new { Id = item.EventId }, null)</td>
            <td id="item-count-@item.OrderId">@item.Count</td>
            <td><a href="#" class="RemoveLink" data-id="@item.OrderId">Cancel</a></td>
        </tr>
    }

</table>

    </>

<p class="button">@Html.ActionLink("Go to my tickets", "Index", "Order")</p>











    


    



