@model IEnumerable<EnrollmentApplication.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Studentlastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studentfirstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Studentlastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studentfirstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Studentid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Studentid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Studentid })
        </td>
    </tr>
}

</table>
